$font-family: 'Roboto', sans-serif;
  /*Color*/
$black: black;
$white: white;
$light-grey: rgba(238, 239, 241, 1);
$grey: rgba(114, 114, 114, 1);
$accent: rgba(52, 84, 122, 1);
  /*Size*/
$main-size: 16px;
$letter-spacing: 0.1rem;
$line-height: 1.64;