@use "../../common/variables";
.about {
  background-color: variables.$white;
  height: 365px;
  padding-top: 121px;
  @media (max-width: 768px){
    padding-top: 60px;
    height: 320px;
  }
  &__title {
    margin: 0 auto;
    padding: 0;
    max-width: 540px;
    color: variables.$black;
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 35px;
  }
  &__text {
    display: flex;
    margin: 0 auto;
    max-width: 540px;
    color: variables.$grey;
    text-align: center;
    font-weight: 400;
    line-height:variables.$line-height;
  }
}



