@use "../../common" as *;
.header {
  width: 100%;
  padding-top: 70px;
  padding-bottom: 50px;
  &__menu {
    width: 100%;
    height: 100px;
    margin-left: 0;
  }
}
.menu{
  &__list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: clamp(20px, 3vw, 34px);
    @media (max-width: 768px) {
      justify-content: center;
  }
  }
  &__item {
    padding: 2px 4px;
  }
  &__link {
    font-size: clamp(0.875rem, 0.739rem + 0.36vw, 1rem);
    display: block;
    width: 100%;
    color: $black;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: $letter-spacing;
  }
}



