.first-screen {
  width: 100%;
  padding-top: 20px;
}

.first-screen__item {
  display: flex;
  flex-direction: column;
  margin-left: 0;
  @media (max-width: 768px) {
    & {
      align-items: center;
    }
}
}
.first-screen__title {
  color: $black;
  font-size: 3rem;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 49px;
  @media (max-width: 768px) {
    & {
      font-size: 2.4rem;
      margin-bottom: 39px;
      text-align: center;
    }
}
}
.first-screen__text {
  max-width: 540px;
  color: $grey;
  font-weight: 400;
  line-height: $line-height;
  font-size: clamp(0.875rem, 0.739rem + 0.36vw, 1rem);
  @media (max-width: 768px) {
    & {
      text-align: center;
    }
}
}
.first-screen__btn {
  width: 225px;
  height: 65px;
  background-color: $accent;
  margin-top: 55px;
  margin-bottom: 132px;
  @media (max-width: 768px){
      &{
      width: 200px;
      height: 55px;
      margin-bottom: 100px;
    }
}
}
.first-screen__btn-link {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: $white;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: $letter-spacing;
}